/* cssnext: CSS variables */

/* cssnext: custom media queries */

/* cssnext: custom selectors */

/* Nesting via postcss-nested */
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    text-rendering: optimizeLegibility;
    color: rgb(204, 177, 171);
}

input,textarea {
    min-width: 500px;
}
@media (max-width: 640px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
    }
}
